/* fuentes */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,400&family=Roboto:ital,wght@1,300;1,500;1,900&display=swap');


/* 


font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;


*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
}


img {
    width: 100%;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    padding-right: calc(var(--bs-gutter-x) * -0.5);
    padding-left: calc(var(--bs-gutter-x) * -0.5);

}


/*Index ,Header and footer*/

/*Header*/


.header {
    background-color: #343a40;
    ;
}

.logo {
    height: 100px;
    width: 100px;
}

.getbet {
    margin-left: 30px;
    border: 1px solid #495057;
    padding: 10px;
    border-radius: 15px;

}


.navbar-nav {
    width: 83%;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.nav-link {
    color: rgb(255, 255, 255);

}

.nav-link:hover {
    color: rgb(255, 255, 255);

}

.nav-item:hover {
    font-size: 18px;
    transition: all 0.4s ease;
    margin-bottom: -2px;
}

/*Main*/

/*Banner*/

.divisor-main {
    margin-top: 0px;
    width: 100%;
}

.carousel-inner {
    justify-content: center;
}

.banner-img {
    height: 500px;
    width: 1296px;
    border-radius: 6px;
}

/*Slots*/

.slots {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    position: static;
    justify-content: center;
}


.slots-img {
    width: 100%;
    min-width: 110px;
    max-width: 200px;
    cursor: pointer;
    border-radius: 6px;
    width: 180px;
    height: 180px;
    transition: all 0.6s ease;
}

.slots-img:hover {
    width: 190px;
    height: 190px;
    margin-bottom: -10px;
}

/*Footer*/

.footer {
    height: 12vh;
}

.redes-reclamos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    height: 10vh;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.copy-div {
    display: flex;
    align-items: end;
}

.copy {
    font-size: 12px;
}

.reclamos {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.6s ease;
}


.reclamos:hover {
    font-size: 18px;
}


.face-ig-wapp {
    display: flex;
    color: wheat;
}

.bi-instagram::before {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 6px;
}

.face-ig-wapp.face {
    color: #3b5998;
}

.face-ig-wapp.wapp {
    color: #128C7E;
}




/*Slots Page*/

.slots-play {
    border-radius: 8px;
}

.play {
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 20px;
}

.slots-div {
    height: 85vh;
}

.monto-div {
    display: flex;
}

.monto {
    align-items: center;
    padding-top: 7px;
}

/*Select Option*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: #6c757d;
    ;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: violet;
}

/*Perfil*/

.perfil {
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #343a40;
    border-radius: 15px;
    border: solid 1px #5c6664;
    height: 70vh;

}

.card-div {
    padding: 180px;


}

.card-perfil {
    padding: auto;
    justify-content: center;
    align-items: center;
}

.inputs {
    gap: 20px;
    padding: 200px;
    justify-content: center;
    flex-direction: column
}

.o {
    text-align: center;
}


/*Reclamos*/

.sectionr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#accordionExample {
    padding-top: auto;
    height: 100%;
    width: 50%;

}


.reclamos- {
    height: 100%;
    width: 50%;
}

.rec-h4 {
    font-size: 14px;
}

.btn-rec {
    margin: 10px;
}



/* Estilos para pantallas pequeñas (hasta 767px de ancho) */
@media only screen and (min-width: 576px) {


    .navbar-nav {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .getbet {
        margin-right: 70px;
    }

    .copy {
        font-size: 10px;
    }

    .banner-img {
        height: 400px;
        width: 516px;
        border-radius: 6px;
    }

    .slots-img:hover {
        width: 185px;
        height: 185px;
        margin-bottom: -10px;
    }



}

/*Estilos para pantallas medianas (hasta 992)px de ancho*/

@media only screen and (min-width: 768px) {

    .navbar-nav {
        justify-content: center;
        align-items: center;
    }
 
    
    .banner-img {
        height: 500px;
        width: 696px;
        border-radius: 6px;
    }
}

/*Estilos para pantallas grandes (hasta 1200px)*/

@media only screen and (min-width: 992px) {

    .navbar-nav {
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .banner-img {
        height: 500px;
        width: 936px;
        border-radius: 6px;
    }

}

/*Estilos para pantallas extra grande (hasta 1400px)*/

@media only screen and (min-width: 1200px) {

    .navbar-nav {
        width: 76%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .banner-img {
        height: 500px;
        width: 1116px;
        border-radius: 6px;
    }

}

/*Estilos para pantallas extra extra grandes (mas de 1400px)*/

@media only screen and (min-width: 1400px) {

    .navbar-nav {
        width: 83%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .slots-img:hover {
        width: 190px;
        height: 190px;
        margin-bottom: -10px;
    }

    .banner-img {
        height: 500px;
        width: 1296px;
        border-radius: 6px;
    }
    
    .copy {
        font-size: 12px;
    }
    
}