//Colores 

$bg-navbar-color: #343a40;
$lines-color: #495057;
$font-color: rgb(255, 255, 255);
$instagram-bg-color: #d6249f;
$instagram-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$facebook-color: #3b5998;
$wsp-color: #128C7E;
$button-color: #5c6664;

//Font Size

$sm-font: 10px;
$m-font: 16px;
$hover-font: 18px;

