.header {

    background-color: $bg-navbar-color;

    .logo {

        height: 90px;
        width: 90px;
        margin-inline: 10px;

    }

    .getbet {
        font-family: 'Lilita One', sans-serif;
        margin-left: 30px;
        padding: 5px;
        font-size:20px;
        color: violet;

    }

    #navbarNav {

        .navbar-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;

            .nav-item {

                .nav-link {

                    color: $font-color ;

                }

                &:hover {
                    font-size: $hover-font;
                    transition: all 0.4s ease;
                    margin-bottom: -2px;

                }

            }



        }


    }


}

// //Media Query

@media only screen and (min-width: 576px) {

    .navbar-nav {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .getbet {
        margin-right: 70px;
    }

}


@media only screen and (min-width: 768px) {


    .navbar-nav {
        justify-content: center;
        align-items: center;
    }

}



@media only screen and (min-width: 992px) {

    .navbar-nav {
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

}


@media only screen and (min-width: 1200px) {

    .navbar-nav {
        width: 76%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

}


@media only screen and (min-width: 1400px) {

    .navbar-nav {
        width: 83%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

}