.header {

    background-color: $bg-navbar-color;

    .logo {

        height: 90px;
        width: 90px;
        margin-inline: 10px;

    }

    .getbet {
        font-family: 'Lilita One', sans-serif;
        margin-bottom: 0rem;
        font-size: 20px;
        margin-left: 15px;
        letter-spacing: 2px;
        color: violet;

    }

    #navbarNav {

        .navbar-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;

            .nav-item {

                .nav-link {
                    transition: all 0.3s ease;
                    color: $font-color ;


                }

                &:hover {
                    font-size: $hover-font;
                    margin-bottom: -2px;
                }

            }



        }


    }


}

// //Media Query

@media only screen and (min-width: 351px) and (max-width: 576px) {
    .header {


        #navbarNav {

            .navbar-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;

            }
        }

        .getbet {

            margin-right: 70px;
        }

    }


}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .header {

        #navbarNav {
            .navbar-nav {
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 30px
            }
        }

        .getbet {

            margin-right: 70px;
        }
    }

}


@media only screen and (min-width: 768px) and (max-width: 992px) {


    .header {

        #navbarNav {
            .navbar-nav {
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 30px
            }
        }

        .getbet {

            margin-right: 70px;
        }
    }

}



@media only screen and (min-width: 992px) {

    .navbar-nav {
        width: 78%;
        justify-content: center;
        align-items: center;

    }

}


@media only screen and (min-width: 1200px) {

    .navbar-nav {
        width: 81%;
        justify-content: center;
        align-items: center;

    }

}


@media only screen and (min-width: 1400px) {

    .navbar-nav {
        width: 84%;
        justify-content: center;
        align-items: center;

    }

}